// @brand-green: #8bc34a;
// @brand-orange: #ff9801;
// @brand-yellow: yellow;
// @brand-red: #f34135;
// @brand-blue: #03a9f4;

@brand-green: #00a79d;
@brand-orange: #f7931d;
@brand-yellow: #f7931d;
@brand-red: #ed1c24;
@brand-blue: #1b75bb;
@brand-purple: #2a388f;


@font-family-base:   'Oswald', sans-serif;
@font-family-script: 'Pacifico',cursive;
@font-family-heading: 'Oswald', sans-serif;
@font-size-larger:         ceil((@font-size-base * 1.45)); // ~18px