.btn-cta{
	background: @brand-blue;
	border: 2px solid @brand-blue;
	padding: 9px 40px 9px 40px;
	border-radius: 50px;
	color: white;
	font-size: @font-size-large;
	font-family: @font-famliy-script !important;
	display: inline-block;
	.transition(0.2s);
	&:hover{
		background: white;
		color: @brand-blue;
		border-color: @brand-blue;
	}
}


.body-text(@align:left, @color:white){
	font-family: @font-family-base;
	font-size: @font-size-large;
	font-weight: 200;
	text-align: @align;
	color: @color;
	padding-bottom: 1em;
}

.bg-solid(@color:@brand-green){
 	position: absolute;
  	bottom: 0;
  	right: 0;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	background-color: @color;
}

.border-bottom-left(@color:@brand-green) {
 	position: absolute;
  	bottom: 0;
  	right: 0;
  	z-index: 1;
  	border-bottom-color: @color;
	border-left-color: transparent;
	border-style: solid;
}

.border-top-right(@color:@brand-green) {
 	position: absolute;
  	bottom: 0;
  	right: 0;
  	z-index: 1;
	border-top-color: transparent;
	border-left-color: @color;
	border-style: solid;
}

.border-bg(@color:@brand-green) {
 	position: absolute;
  	bottom: 0;
  	right: 0;
  	z-index: 1;
	border-top-color: @color;
	border-left-color: @color;
	border-style: solid;
}

.ribbon(@color:@brand-green) {
	background:transparent;
	color: #fff;
	font-size: 40px;
	font-family: @font-famliy-script;
	line-height: normal;
	display: inline-block;
	position: relative;
	min-height: 70px;
	margin-top: 13px;

	span {
		background-color: @color;
		padding: 0 50px;
	}
	&:before {
		content: "";
		height: 0;
		width: 0;
		display: block;
		position: absolute;
		top: 0;
		left: -68px;
		border-top: 35px solid @color;
		border-bottom: 35px solid @color;
		border-right: 35px solid @color;
		border-left: 35px solid transparent;
	}
	&:after {
		content: "";
		height: 0;
		width: 0;
		display: block;
		position: absolute;
		top: 0;
		right: -68px;
		border-top: 35px solid @color;
		border-bottom: 35px solid @color;
		border-right: 35px solid transparent;
		border-left: 35px solid @color;
		background: transparent;
	}
}

.arrow(@color:@brand-green) {
	position: relative;
	&:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-left-color: @color;
		border-width: 25px;
		margin-top: -25px;
	}
}

.admin-bar {
	header {
		top: 32px;
	}
}


body {
	padding-top: 182px;
}

.header-main .logo { 
	img {
		max-width: 256px;
	}
}

.campus-grid-main {
	.make-md-column(3);
	.make-sm-column(3);
	&:first-child {
		.make-md-column(6);
		.make-sm-column(6);
	}
	&:last-child {
		.make-md-column(6);
		.make-sm-column(6);
	}
}

.explore{
	svg{
		height: 85px;
		margin: auto;
	}
}

.choose-campus {
	float: none;
	position: relative;
	overflow: hidden;
	padding: 90px 0px;
	.header-subtitle {
		.make-md-column(8);
		.make-md-column-offset(2);
		padding: 45px;
		text-align: center;
		font-size: 2em;
		font-weight: 100;
	}
	.campus_title {
		
		.ribbon(@brand-blue);

		&.css-orange {
			.ribbon(@brand-orange);
		}

		&.css-yellow {
			.ribbon(@brand-yellow);
		}

		&.css-red {
			.ribbon(@brand-red);
		}
	}
	&:before {

	}
}

.campuses-content {
	max-width: 85%;
	margin:auto;
	padding: 45px 0;
	p {
		font-size: 24px;
		line-height: 32px;
		font-weight: 300;
		text-align: center;
	}
}

.map-campus {
	min-height: 550px;
	background: #fff;
	padding: 35px 0;

	.campus-title-area-main {
		margin-bottom: 35px;
	}

	.campuses_title {
		.ribbon(@brand-green);
	}
}

#map,#campus-map {
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 0;
}

.section_lifestyle {
	padding: 45px 0;
	background: @brand-green;
	.feature_list{
		max-width: inherit;
	}
}

.lifestyle_content{
	p{
		.body-text(justify);
	}
}

.lifetyle-rooms {
	padding: 65px 0;
}

.section_feature {
	padding: 45px 0;
	text-align: center;
	.make-md-column(10);
	.make-md-column-offset(1);
	.header-title {
		margin-bottom: 45px;
	}
}

.feature_list {
	max-width: 85%;
	margin: auto;
	.feature_list--list {
		font-family: @font-family-base;
		display: inline-block;
		font-weight: 300;
		color: #fff;
		margin-right: 10px;
		font-style: italic;
		font-size: 16px;
	}
	.feature_list--item {
		display: inline-block;
		width: 100px;
		text-align: center;
		margin-right: 1.3%;
		.tab-ico {
			width: 100%;
			border-radius: 50%;
			padding: 0px 0px;
			border: 2px solid #fff;
			color: #fff;
			font-size: 50px;
			height: 100px;
			display: table;
			.transition(.5s);
			i {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.tab-title {
			text-transform: uppercase;
			color: #fff;
			font-size: 13px;
			font-weight: bold;
			float: left;
			width: 100%;
			padding-top: 14px;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
			.display-table-cell{
				font-size: 15px;
			}
		}
		.display-table {
			height: 65px;
		}
	}
}

.grid-link {
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	z-index: 1020;
}


.vertical-ribbon svg {
	width: 230px;
	transform: rotate(180deg) translateX(50%);
	height: 340px;
	position: absolute;
	bottom: -300px;
	left: 50%;
	fill:(@brand-green);
	.transition(0.8s);

	.campus-grid-main:hover & {
		bottom: 0;
	}
	.room-grid-main:hover & {
		bottom: 0;
	}
}

.section-title-area { display: inline-block; width: 100%; text-align: center; }
.section-title-area-main { display: inline-block; text-align: center; }

.section-top-title {
	color: #222222;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	letter-spacing: 1.8px;
	position: relative;

}

.header-title-area {
	width: 100%;
	text-align: center;
}

.header-title {
	.ribbon(@brand-blue);

	&.css-orange {
		.ribbon(@brand-orange);
	}
	&.css-red {
		.ribbon(@brand-red);
	}
	&.css-yellow {
		.ribbon(@brand-yellow);
	}
}

.section-grid-area {
	width: 100%; 
	margin-top: 41px;
}

.room-grid-main {
	.make-md-column(4);
	.make-sm-column(4);
	padding: 0;
	  overflow: hidden;
}

.room-grid-main .room-img img { width: 100%; vertical-align: bottom; }

.room-grid-main .room-title { position: absolute; left: 0; bottom: 0px; width: 100%; text-align: center; }

.room-grid-main .room-title .view-more { display: none; font-family: @font-famliy-script; border-bottom: 2px solid #fff; font-size: 23px; color: #fff; line-height: 33px; display: inline-block; padding-top: 3px; margin-bottom: 15px; display: none; }
.room-grid-main .room-title .view-more i { position: relative; top: 3px; font-size: 20px; left: 3px; }
.room-img { float: left; width: 100%; position: relative; }
.room-img .slider-shadow { height: 100px; }
.room-grid-main .room-title h2 span { position: relative; }
.room-grid-main .room-title h2 span::before { content: ""; background: #fff; width: 6px; height: 6px; position: absolute; left: -14px; top: 41%; border-radius:50%; -webkit-border-radius:50%;}
.room-grid-main .room-title h2 span::after { content: ""; background: #fff; width: 6px; height: 6px; position: absolute; right: -14px; top: 41%; border-radius:50%; -webkit-border-radius:50%;}

.room-text { z-index: 99; position: relative; }

.room-grid-main {
	.room-title .view-more {
		transform: translateY(70px);
		-webkit-transform: translateY(70px);
		transition: transform 0.4s;
		-webkit-transition: all 0.4s;
		display:inline-block;
	}

	.room-title h2 { 
		font-size: 23px; 
		text-transform: uppercase; 
		font-weight: bold; 
		position: relative;   
		top: 20px;
	  	.transition(top 0.4s);
	  	.transition(all 0.5s);
	  	color: #fff;
	}

	.room-title .description {
		display: block;
		font-size: @font-size-small;
		font-weight: 200;
		text-transform: none;
		padding: 10px 40px;
	}

	.vertical-ribbon svg {
		width: 95%;
		fill:@brand-red;
	}

	&:hover {

		.room-title .view-more{
			transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		.room-title h2 {
	  		top: 0;
		}

	}
}

.header-subtitle {
	.make-md-column(8);
	.make-md-column-offset(2);
	padding: 45px;
	text-align: center;
	font-size: 2em;
	font-weight: 100;
}

.rooms_archive{
	width: 100%;
	background: @brand-blue;
	padding: 0;
	position: relative;
	&:after {
		background: linear-gradient(-45deg, #ffffff 10px, transparent 0), linear-gradient(45deg, #ffffff 10px, transparent 0);
		background-position: left-bottom;
		background-repeat: repeat-x;
		background-size: 20px 22px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 19px;
	}
}


.section_lifestyle{
	width: 100%;
	background: @brand-green;
	position: relative;
	&:after {
		background: linear-gradient(-45deg, #ffffff 10px, transparent 0), linear-gradient(45deg, #ffffff 10px, transparent 0);
		background-position: left-bottom;
		background-repeat: repeat-x;
		background-size: 20px 22px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 19px;
	}
}

.page-room {
	padding: 90px 0;
	color: #333;
	overflow: hidden;
	position: relative;
	z-index: 2;

	.room_content {
		.make-md-column(8);
		.make-md-column-offset(2);
		padding: 45px 0 0;
		p {
			.body-text(center,@gray-dark);
		}	
	}

	.border-room {
	 	.border-bottom-left(@brand-green);
	}

	.single-rooms &:after {
		background: linear-gradient(-45deg, #fff 10px, transparent 0),linear-gradient(45deg, #fff 10px, transparent 0);
		background-position: left-bottom;
		background-repeat: repeat-x;
		background-size: 20px 22px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 19px;
		z-index: 200;
	}
}

.bg-features {
	.bg-solid(@brand-green);
}

.border-campus {
 	.border-bottom-left(@brand-yellow);
}

.inner {
	position: relative;
	z-index: 200;
}

.header-content-area {
	padding: 45px 0;
}

.page-floor {
	padding: 45px 0;
	background: #fff;
	position: relative;
	.room-floorplan{
		.header-content-area{
			.make-md-column(8);
			.make-md-column-offset(2);
			margin: 45px auto;
			background: white;
			border: 5px solid @brand-orange;
			img{
				margin: auto;
			}
		}
	}
}

.border-floor {
	.border-top-right(@brand-orange);
}


// Slider
.slider-text-main{
	.slider-title{
		h1{
			span{
				position: relative;
			}
		}
	}
	.slider-subtitle{
		font-family: @font-famliy-script;
		font-size: 2em;
		margin-top: 20px;
		color: white;
	}
	.slider-excerpt{
		.make-md-column(8);
		.make-md-column-offset(2);
		p{
			font-size: 1.8em;
			font-weight: 100;
			color: white;
		}
	}
}

// Pages
.page-container{
	padding: 90px 0;
}
.header-page{
	padding: ;
}
.page_container{
	padding: 45px 0;
	.row();
	.section_sidebar{
		.make-md-column(3);
	}
	.section_article{
		.make-md-column(8);
		.make-md-column-offset(1);
		.page-template-template-docs &{
			.make-md-column-offset(2);
		}
	}
}

// Docuemnts

.document_holder{
	border: 3px solid @brand-green;
    border-radius: 2px;
    padding: 20px;
    &:hover{
    	box-shadow: 5px 5px 2px #ccc;
    }
}

.document--header{
	i{
		color: @brand-blue;
		margin-bottom: 20px;
	}
	.document--title{
		text-transform: uppercase;
		font-size: 21px;
	}
}
.document--description{
	padding-top: 10px;
	display: block;
}
.document--link{
    color: @brand-red;
    font-family: 'Pacifico',cursive;
    font-size: 19px;
    &:hover{
    	color: @brand-red;
    	border-bottom: 2px solid @brand-red;
    }
}

.post_entry{
	p{
		.body-text(left,#202020);
	}
	ul{
		margin-bottom: 20px;
		list-style: outside;
		margin-left: 25px;
		li{
			font-family: @font-famliy-script;
			font-size: @font-size-large;
			list-style-type: disc;
			color: @brand-blue;
		}
	}
	blockquote{
		border-left: 3px solid @brand-blue;
		padding-left: 25px;
		margin-bottom: 20px;
		p{
			font-family: @font-famliy-script;
			font-size: @font-size-larger;
			padding-bottom: 0px;
			color: @brand-blue;
		}
	}
}

// Sidebar

.widget{
	margin-bottom: 40px;
	.section_widget--heading{
		background-color: @brand-green;
		padding: 10px 20px;
		.section_widget--title{
			font-family: @font-famliy-script;
			font-size: 1.6em;
			color: white;
		}
	}
	ul{
		padding: 20px;
		background-color: white;
		border: 3px solid @brand-green;
		li{
			padding-bottom: 5px;
		}
		li a{
			text-transform: uppercase;
			font-size: @font-size-large;
			color: @brand-green;
			&:hover{
				border-bottom: 2px solid @brand-green;
			}
		}
	}
}

.list-group{
	margin-bottom: 40px;
	&.list-group-static{
		border: none;
		padding: 0px;
	}
	.list-group-item,
	.list-group-item:focus{
		border: none;
		padding: 10px 20px;
		font-family: @font-famliy-script;
		font-size: 1.6em;
		background-color: @gray-light;
		color: white;
		margin-bottom: 5px;
		a {
			color: white;
			display: block;
			font-size: inherit;
			text-transform: none;
		}
		&:first-child{
			border-radius: 0px;
		}
		&:last-child{
			border-radius: 0px;
		}
		.list-group-static&:hover{
			background-color: @brand-yellow;
			.arrow(@brand-yellow);
			color: white;
		}
		.list-group-collapse&:hover,
		.list-group-collapse&.active,
		.list-group-collapse&.active:focus{
			background-color: @brand-yellow;
			color: white;
			.faq-list-group&{
				background-color: @brand-blue;
			}
		}
		.list-group-static&.active,
		.list-group-static&.active:hover,
		.list-group-static&.active:focus{
			background-color: @brand-yellow;
			.arrow(@brand-yellow);
		}
		.list-group-collapse&.current-menu-item ,
		.list-group-collapse&.current-menu-item:hover,
		.list-group-collapse&.current-menu-item:focus{
			background-color: @brand-yellow;
		}
		.list-group-static&.current-menu-item ,
		.list-group-static&.current-menu-item :hover,
		.list-group-static&.current-menu-item :focus{
			background-color: @brand-yellow;
			.arrow(@brand-yellow);
		}			
	}
	&.list-group-collapse{
		.list-group-item{
			&:after{
				font-family: FontAwesome;
			    content: "+";
			    display: inline-block;
			    float: right;
			}
		}
		.list-group-item.active{
			&:after{
			    content: "-";
			}
		}
		.collapse-content-holder{
			border: 3px solid @brand-yellow;
			.faq-list-group&{
				border-color: @brand-blue;
			}
			margin-top: -9px;
			margin-bottom: 5px;
			.collapse-content{
				padding: 20px 20px 20px 0;
				color: @gray-dark;
				font-size: @font-size-large;
				.faq-list-group&{
					font-family: @font-family-base;
					padding-left: 20px;
				}
				background-color: white;
				a{
					color: @gray-dark;
					&:hover{
						color: lighten(@gray-dark, 25%);
					}
				}
			}
		}
	}
}

// Twitter Widget
.widget_latest_tweets_widget{
	.section_widget--title{
		font-family: @font-famliy-script;
		color: white;
		font-size: 1.4em;
		margin-bottom: 20px;
	}
	.latest-tweets{
		p.tweet-text,
		p.tweet-details{
		    color: #fff;
		    font-size: 15px;
		    line-height: normal;
		    font-family: @font-family-base;
		    padding-top: 12px;
		    line-height: 23px;
			& a{
			  color: white;
			  border-bottom: 1px solid #fff;
			  &:hover{
			  	border: 1px solid @brand-blue;
			  }
			}
		}
	}
}

// GRavity
body .gform_wrapper {
	border: 3px solid @brand-blue;
	background: white;
	margin-bottom: 40px;
	.gform_heading{
		width: 100%;
		.gform_title{
			font-family: @font-famliy-script;
			color: white;
			background: @brand-blue;
			padding: 10px 20px;
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 1.6em;
		}
		.gform_description{
			color: @gray-dark;
			.body-text(left,@gray-dark);
			display: block;
			padding: 20px 20px 0 20px;
		}
	}
	.gform_body{
		padding: 0 20px;
		.gform_fields{
			.gfield{
				margin-bottom: 20px;
				.gfield_label{
					text-transform: uppercase;
					color: @gray-dark;
					font-family: @font-famliy-heading;
					.gfield_required{
						color: @gray-dark;
					}
				}
				input[type=text],
				textarea{
					border:2px solid @brand-blue;
					padding: 10px;
					color: @gray-dark;
					width: 100%;
					.transition(0.2s);
					&:focus{
						border-color: @brand-green;
					}
				}
				.gfield_description{
					font-family: @font-family-base;
					font-style: italic;
					color: @gray-dark;
				}
			}
			.gfield_radio,
			.gfield_checkbox{
				label{
					font-family: @font-family-base;
					font-weight: normal;
					color: @gray-dark;
				}
				li input[type="radio"]:checked+label,
				li input[type="checkbox"]:checked+label{
					font-weight: normal;
					color: @brand-blue;
				}
			}
			.gfield_html{
				ul,ol{
					li{
						font-family: @font-family-base;
						color: @gray-darker;
					}
				}
			}
			.ginput_total{
				color: @brand-green;
				font-size: 1.6em;
			}
			.gsection{
				border: none;
				margin-bottom: 0px;
				.gsection_title{
					color: @brand-green;
					font-family: @font-famliy-script;
					border-bottom: 2px solid @brand-green;
					display: inline-block;
					padding-bottom: 10px !important;
				}
			}
		}
	}
	.gform_footer{
		padding: 0 20px 40px 20px;
		input[type=submit]{
			.btn-cta();
		}
	}
}
				#field_1_39&{
					padding-top: 20px;
					margin-top: 60px;
					border-top: 8px double @brand-green;
					.ginput_container{
						display: inline-block;
						padding-left: 20px;
					}
				}
.slide {
	background-position: center center; 
	background-size: cover; 
	height: 550px;
}

.campus_content{
	padding-top: 20px;
	p{
		.body-text(left,@gray-dark);
		a{
			border-bottom: 2px solid @brand-blue;
			color: @brand-blue;
			&:hover{
				border-bottom: none;
			}
		}
	}
}
.campus_contact{
	li{
		font-size: 1.2em;
	}
}

.campus_contact--book.book-now{
	top: 50px;
}

.campus_gallery {
	margin-top: 35px;
}

.bx-wrapper .bx-controls-direction{
	a span{
		background: @brand-green;
		padding: 20px;
		opacity: 0.7;
		border-radius: 100%;
		font-size: 32px;
		width: 72px;
		height: 72px;
		text-align: center;
		color: #fff;
		.transition(0.2s);
	}
	a:hover span{
		opacity: 1;
		background-color: darken(@brand-green, 10%)
	}
}

.bx-default-pager {
	display: none;
}

.va-container {
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.va-top, .va-middle, .va-bottom {
    display: table-cell;
    vertical-align: middle;
}

.grid-item {
    width: 100%;
    background-color: green;
    &.w1 {
    	@media(min-width:@screen-xs-min) {
	    	width: 40%;
	    }
    	height: 265px;
    	background-image: url('../images/social-bg-1.jpg');
    	background-size: cover;
    	background-position: center;
    }
    &.w2 {
    	@media(min-width:@screen-xs-min) {
	    	width: 60%;
	    }
    	height: 265px;
    	background: @brand-green;
    }
    &.w3 {
    	@media(min-width:@screen-xs-min) {
	    	width: 40%;
	    }
    	height: 400px;
    	@media(min-width:@screen-lg-min) {
    		height: 350px;
    	}
    	background: @brand-red;
    }
    &.w4 {
    	@media(min-width:@screen-xs-min) {
	    	width: 30%;
	    }
    	height: 400px;
    	background: @brand-orange;

    }
    &.w5 {
    	@media(min-width:@screen-xs-min) {
	    	width: 30%;
	    }
    	height: 700px;
    	background: @brand-red;
    	background-image: url('../images/social-bg-3.jpg');
    	background-size: cover;
    	background-position: center;
    }
    &.w6 {
    	@media(min-width:@screen-xs-min) {
	    	width: 40%;
	    }
    	height: 300px;
    	@media(min-width:@screen-lg-min) {
    		height: 350px;
    	}
    	background: @brand-blue;
    	background-image: url('../images/social-bg-2.jpg');
    	background-size: cover;
    	background-position: center;
    }
    &.w7 {
    	@media(min-width:@screen-xs-min) {
	    	width: 30%;
	    }
    	height: 300px;
    	background: @brand-blue;
    }
}

.section_news {
	padding: 90px 0;
	.header-title-area {
		margin-bottom: 45px;
	}

	.article_blog {
		.make-md-column(4,0);
		&:nth-child(n) {
	    	background: @brand-blue;
	    }
	    &:nth-child(2n) {
	    	background: @brand-green;
	    }
	    &:nth-child(3n) {
	    	background: @brand-red;
	    }
	}

	.blog_content {
		min-height: 200px;
	}


	
}


.section_archive {

	.header-title-area {
		margin-bottom: 45px;
	}

	.article_blog {
	    width: 50%;
	    &:nth-child(n) {
	    	background: @brand-blue;
	    }
	    &:nth-child(2n) {
	    	background: @brand-green;
	    }
	    &:nth-child(3n) {
	    	background: @brand-red;
	    }
	}
}


.article_blog{
	margin-bottom: 1px;
	.blog_image {
		img{

		}
		.blog_content {
			padding: 20px 30px;
			color: #fff;
		}
		.blog_category{
			.post-categories{
				display: inline;
				li{
					display: inline;
					padding-right: 7px;
				}
				a{
					font-family: @font-famliy-script;
					color: white;
					&:hover{
						border-bottom: 2px solid white;
					}
				}				
			}
		}
		.blog_date{
			font-family: @font-famliy-script;
		}
		.content_inner--title{
			text-transform: uppercase;
			font-size: @font-size-larger;
			margin-bottom: 10px;
			margin-top: 5px;
			a{
				color: white;
				&:hover{
					border-bottom: 2px solid white;
				}
			}
		}
		p{
			.body-text();
			font-size: @font-size-base;
			padding-bottom: 10px;
		}
		.blog_article--link{
			color: white;
			font-family: @font-famliy-script;
			font-size: @font-size-large;
			&:hover{
				border-bottom: 2px solid white;
			}
		}
	}
}


/* Widgets */
.widget_text {
	.section_widget--title {
		font-size: 20px;
		font-family: 'Pacifico', cursive;
		font-weight: normal;
		color: #fff;
	}

	.textwidget {

		font-size: 29px;
		text-transform: uppercase;
		line-height: normal;
		color: #fff;
		border-bottom: 2px solid transparent;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;

		&:hover { border-color: #fff; }

	}
}


.recent-posts-widget-with-thumbnails {
	.section_widget--title {
		font-size: 20px;
		font-family: 'Pacifico', cursive;
		font-weight: normal;
		color: #fff;
	}

	.rpwwt-post-title {
		font-size: 29px;
		text-transform: uppercase;
		line-height: normal;
		border-bottom: 2px solid transparent;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		color: #fff;
		&:hover { border-color: #fff; }
	}

	.rpwwt-post-excerpt {
		color: #fff;
		font-size: 15px;
		line-height: normal;
		font-family: 'ProximaNova-Regular';
		padding-top: 12px;
		line-height: 23px;

	}

	    
}
