<div class="jumbotron text-center">
	{% if mixture.url == "room-single" %}
		<h1><strong>
			Room Type
		</strong></h1>
	{% endif %}

	{% if mixture.url == "campus-single" %}
		<h1><strong>
			Campus Name
		</strong></h1>
	{% endif %}

	{% if mixture.url == "building-single" %}
		<h1><strong>
			Building Name
		</strong></h1>
	{% endif %}
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
		</div>
	</div>
</div>